@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Materia</h2>
            <h5>Ingrese los datos de la materia:</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "MateriaController1", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.IdMateria, new { @class = "hidden" })
                        @Html.TextBoxFor(model => model.IdMateria, new { @class = "hidden form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.IdMateria)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Nombre)
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Costo)
                        @Html.TextBoxFor(model => model.Costo, "{0:#.#}", new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Costo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Semestre.IdSemestre)
                        @Html.TextBoxFor(model => model.Semestre.IdSemestre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Semestre.IdSemestre)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Creditos)
                        @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control", @id = "txtNombre" })
                        @Html.ValidationMessageFor(model => model.Creditos)
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Creditos)
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">@@</span>
                            @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control", @id = "txtNombre" })
                        </div>
                    </div>
                </div>*@



                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "MateriaController1", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>

            }
        </div>
    </div>
</div>


