@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Materia</h2>
            <h5>Ingrese los datos de la materia:</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "MateriaController1", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-3" style = "display: none;">
                        @Html.LabelFor(model => model.Nombre, new { @class = "hidden" })
                        @Html.TextBoxFor(model => model.IdMateria, new { @class = "hidden form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.IdMateria)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Nombre)
                        <div class="input-group mb-3">
                            <span class="input-group-text" ><i class="bi bi-rulers" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @placeholder="Ejemp: Historia" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Costo)
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" ><i class="bi bi-currency-dollar" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.Costo, new { @class = "form-control", @id = "txtNombre", @placeholder="MXN" })
                            @Html.ValidationMessageFor(model => model.Costo)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.Label("Semestre")
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" ><i class="bi bi-journal-text" style="color: midnightblue"></i></span>
                            @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona un semestre", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Semestre.IdSemestre)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Creditos)
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="color: midnightblue">#</span>
                            @Html.TextBoxFor(model => model.Creditos, new { @class = "form-control", @id = "txtNombre" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Plantel.Planteles)                      
                        @Html.DropDownListFor(model => model.Plantel.IdPlantel, new SelectList(Model.Plantel.Planteles, "IdPlantel", "Nombre"), "Selecciona un plantel", new { @class = "form-control", @id = "ddlPlantel" })
                        @Html.ValidationMessageFor(model => model.Plantel.IdPlantel)
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Grupo.Grupos)                      
                        @Html.DropDownListFor(model => model.Grupo.IdGrupo, new SelectList(Model.Grupo.Grupos, "IdGrupo", "Horario"), "Selecciona un grupo", new { @class = "form-control", @id = "ddlGrupo" })
                        @Html.ValidationMessageFor(model => model.Grupo.IdGrupo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "MateriaController1", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>                  
            </div>

            }
        </div>
    </div>
</div>
@section Scripts
{

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

$(document).ready(function () {
        $("#ddlPlantel").change(function () {
            $("#ddlGrupo").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GrupoGetByIdPlantel")',
                dataType: 'json',
                data: { IdPlantel: $("#ddlPlantel").val() },
                success: function (grupos) {
                    $("#ddlGrupo").append('<option value="0">'+ 'Seleccione una opción' + '</option>');
                    $.each(grupos, function (i, grupos) {
                        $("#ddlGrupo").append('<option value="'
                                                   + grupos.idGrupo + '">'
                                                   + grupos.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });
</script>
}

