@model ML.Materia
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materia</h2>

<div class="row">
    <div class="col-md-12">
        <h5>Seleccione una materia para editarlo o + para agregar...</h5>
        <hr />
    </div>
</div>
</hr>

<div style="float:right;">
    @Html.ActionLink("+", "Form", "MateriaController1", htmlAttributes: new { @class = "btn btn-success" })
</div>

 @using (Html.BeginForm("GetAll", "MateriaController1", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
<div class="row">
    <div class ="col-md-3">
         @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona un semestre", new { @class = "form-control bg-light text-dark" })
    </div> 
    <div class ="col-md-3">
         @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control bg-light text-dark", placeholder = "Nombre" })
    </div> 
    <div class ="col-md-3">
         @Html.TextBoxFor(model => model.Grupo.Horario, new { @class = "form-control bg-light text-darke", placeholder = "Turno" })
    </div> 
    <div class ="col-md-1">
         <input type="submit" value="Buscar" class="btn btn-secondary text-light" />
    </div> 
</div>
}
<br />
<table class="table  table-dark table-hover table-striped table-bordered table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Editar</td>
            <td style ="display :none;">id</td>
            <td >Nombre</td>
            <td>Creditos</td>
            <td>Costo</td>
            <td>Semestre</td>
            <td>Imagen</td>
            <td>Status</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Materia materia in Model.Materias)
        {
        <tr>
            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "MateriaController1", new { IdMateria = materia.IdMateria })"></a></td>
            <td style ="display :none;">@materia.IdMateria </td>
            <td>@materia.Nombre</td>
            <td>@materia.Creditos</td>
            <td>@materia.Costo</td>
            <td>@materia.Semestre.IdSemestre</td>
             @if (materia.Imagen != "")
             {
                <td style ="text-align: center; vertical-align: middle;"><img src="data:image/*;base64,@materia.Imagen" style="width:50px ; height:50px" /></td>
              }
              else
              {
                            
                  <td style ="text-align: center; vertical-align: middle;"><img src="~/Images/sinimagen.png" width="50px" height="50px" id="Img" /></td>
              }
             <td style ="text-align: center; vertical-align: middle;">
                 @if(materia.Status == true)   
                 {
                 <a href="@Url.Action("UpdateStatus", "MateriaController1", new { IdMateria = materia.IdMateria })"> <img src="~/Images/ON.png" style=" height:25px; width:50px;" /></a>
                 }
                 else
                 {
                 <a href="@Url.Action("UpdateStatus", "MateriaController1", new { IdMateria = materia.IdMateria })"> <img src="~/Images/OFF.png" style=" height:25px; width:50px;" /></a>
                 }                       
             </td>

            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "MateriaController1", new { IdMateria= materia.IdMateria})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
        </tr>
        }

    </tbody>
</table>
