@model ML.Materia
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materia</h2>

<div class="row">
    <div class="col-md-12">
        <h5>Seleccione una materia para editarlo o + para agregar...</h5>
        <hr />
    </div>
</div>
</hr>

<div style="float:right;">
    @Html.ActionLink("Agregar", "Form", "MateriaController1", htmlAttributes: new { @class = "btn btn-success" })

</div>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td style ="display :none;">id</td>
            <td>Nombre</td>
            <td>Creditos</td>
            <td>Costo</td>
            <td>Semestre</td>
            <td>Imagen</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Materia materia in Model.Materias)
        {
        <tr>
            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "MateriaController1", new { IdMateria = materia.IdMateria })"></a></td>
            <td style ="display :none;">@materia.IdMateria </td>
            <td>@materia.Nombre </td>
            <td>@materia.Creditos</td>
            <td>@materia.Costo</td>
            <td>@materia.Semestre.IdSemestre</td>
            @if (materia.Imagen != null)
             {
                <td><img src="data:image/*;base64,@materia.Imagen" style="width:min-content ; height:min-content"/></td>
              }
              else
              {
                            
                  <td><img src="~/Images/sinimagen.png" width="auto" height="100" id="Img" /></td>
              }


            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "MateriaController1", new { IdMateria= materia.IdMateria})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
        </tr>
        }

    </tbody>
</table>
